### Elham Bahrami
#### 11/10/2019
In this Module I am going to do some aggregation on some columns of NYCHousing Maintenance Violation data set, first I make a data frame which by default it gives me 1000 rows which is enough for the purpose.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv("https://data.cityofnewyork.us/resource/wvxf-dwi5.csv")

In [4]:
df.shape

(1000, 40)

In [5]:
df.columns

Index(['violationid', 'buildingid', 'registrationid', 'boroid', 'boro',
       'housenumber', 'lowhousenumber', 'highhousenumber', 'streetname',
       'streetcode', 'zip', 'apartment', 'story', 'block', 'lot', 'class',
       'inspectiondate', 'approveddate', 'originalcertifybydate',
       'originalcorrectbydate', 'newcertifybydate', 'newcorrectbydate',
       'certifieddate', 'ordernumber', 'novid', 'novdescription',
       'novissueddate', 'currentstatusid', 'currentstatus',
       'currentstatusdate', 'novtype', 'violationstatus', 'latitude',
       'longitude', 'communityboard', 'councildistrict', 'censustract', 'bin',
       'bbl', 'nta'],
      dtype='object')

There are three columns that I am intersted in to do aggregation; 1. boro, 2. violationid, 3.class. I am going to aggregate how many incident and class incident are there in each boro.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
violationid              1000 non-null int64
buildingid               1000 non-null int64
registrationid           1000 non-null int64
boroid                   1000 non-null int64
boro                     1000 non-null object
housenumber              1000 non-null object
lowhousenumber           998 non-null object
highhousenumber          1000 non-null object
streetname               1000 non-null object
streetcode               1000 non-null int64
zip                      1000 non-null int64
apartment                776 non-null object
story                    954 non-null object
block                    1000 non-null int64
lot                      1000 non-null int64
class                    1000 non-null object
inspectiondate           1000 non-null object
approveddate             1000 non-null object
originalcertifybydate    994 non-null object
originalcorrectbydate    994 non-null object
newcertifybydate         11 non-null object
newcorrectbydate         11 non-null object
certifieddate            157 non-null object
ordernumber              1000 non-null int64
novid                    1000 non-null int64
novdescription           1000 non-null object
novissueddate            994 non-null object
currentstatusid          1000 non-null int64
currentstatus            1000 non-null object
currentstatusdate        1000 non-null object
novtype                  994 non-null object
violationstatus          1000 non-null object
latitude                 1000 non-null float64
longitude                1000 non-null float64
communityboard           1000 non-null int64
councildistrict          1000 non-null int64
censustract              1000 non-null int64
bin                      1000 non-null int64
bbl                      1000 non-null int64
nta                      1000 non-null object
dtypes: float64(2), int64(16), object(22)
memory usage: 312.6+ KB

There is no NaN values in the columns! To make it easier for aggregation I'll make another DataFrame with violationid, class and boro columns.

In [9]:
dfm = df[['violationid', 'boro', 'class']]

In [12]:
dfm.groupby('boro').count()

               violationid  class
boro
BRONX                  345    345
BROOKLYN               361    361
MANHATTAN              230    230
QUEENS                  62     62
STATEN ISLAND            2      2

As we can see Bronx has the largest number of incident! let's see which class has the highest amonut! what is your guess?

In [13]:
dfm.groupby(['boro','class']).size().sort_values()

boro           class
STATEN ISLAND  B          2
BROOKLYN       I          3
QUEENS         I          3
               C          4
               A         16
MANHATTAN      C         26
BRONX          C         39
QUEENS         B         39
BROOKLYN       C         48
MANHATTAN      A         49
BROOKLYN       A         79
BRONX          A         91
MANHATTAN      B        155
BRONX          B        215
BROOKLYN       B        231
dtype: int64

As we see class B incident in Brooklyn has the highest amount!